@model List<Chef>

<h1>
    Chef index
</h1>

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Chefs</h2>
            <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">

            @foreach (Chef item in Model)
            {
                <a asp-controller="Chefs" asp-action="Details" asp-route-id="@item.Id">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="chef-member">
                            <div class="member-img">
                                <img src="~/assets/img/chefs/@item.Image" class="img-fluid" alt="">
                                @*<div class="social">
                                <a href="@item.ChefSocialMedia.TwitterUrl"><i class="bi bi-twitter"></i></a>
                                <a href="@item.ChefSocialMedia.FbUrl"><i class="bi bi-facebook"></i></a>
                                <a href="@item.ChefSocialMedia.IgUrl"><i class="bi bi-instagram"></i></a>
                                <a href="@item.ChefSocialMedia.InUrl"><i class="bi bi-linkedin"></i></a>
                            </div>*@
                            </div>
                            <div class="member-info">
                                <h4>@item.Name</h4>
                                <span>@item.Profession</span>
                                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
                            </div>
                        </div>
                    </div><!-- End Chefs Member -->
                </a>

            }

        </div>

    </div>
</section><!-- End Chefs Section -->